<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.publizar.publizaraldia"
    android:versionCode="1"
    android:versionName="1.0" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk android:minSdkVersion="7" />

    <supports-screens android:anyDensity="true" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:icon="@drawable/ic_launcher_publizar"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme" >
        <uses-library
            android:name="com.google.android.maps"
            android:required="true" >
        </uses-library>

        <activity android:name=".MainActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AllPromosActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".DetailActivity" >
        </activity>
        <activity android:name=".WebLoaderActivity" >
        </activity>
        <activity android:name=".TestDetailActivity" >
        </activity>
        <activity android:name=".MapsActivity" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ChangePreferencesActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ChangePreferencesActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ChangePasswordActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PreferencesTimelineActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RegisterPreferenceActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RegisterUserActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".AllFavouritesActivity" >
        </activity>
        <activity android:name=".AllCategoriesActivity" >
        </activity>
        <activity android:name=".TabBarActivity" >
        </activity>
        <activity android:name=".SlidingDownActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>